@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #e1e1e4;
}

.al{
    width: 640px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: relative;
    margin-top: 50px;
    box-sizing:border-box; 
    padding: 60px;
}


.container {
  width: 320px;
  height: 320px;
  box-sizing:border-box; 
  background: #484959;
  right: 0;
  top: -20px;

  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  
}
.container svg {
  position: absolute;
}

.rect1 {
  z-index: 1;
  stroke-dasharray: 197 509;
  stroke-dashoffset: -729;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.rect2 {
  z-index: 1;
  stroke-dasharray: 197 509;
  stroke-dashoffset: -1020;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.rect3 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  /* animation: dash 1s linear alternate infinite; */
}

.rect3.animate {
  animation: dash 1s linear alternate 1;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.text {
  position: absolute;
  margin-top: 70px;
  border: none;
  background: rgba(0,0,0,0);
  margin-left: 65px;
  color: #e4e4e4;
  width: 196px;
  height: 44px;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
  padding-top: 11px;
  transition: all 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  font-size: 1em;
  color:#ccc;
}
.text:focus {
  outline-width: 0;
/*  font-size: 16px;*/
}

.pass {
  position: absolute;
  margin-top: 120px;
  border: none;
  background: rgba(0,0,0,0);
  margin-left: 65px;
  color: #e4e4e4;
  width: 196px;
  height: 44px;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
  padding-top: 11px;
  transition: all 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  font-size: 1em;
}
.pass:focus {
  outline-width: 0;
/*  font-size: 16px;*/
}

button {
  position: absolute;
  z-index: 100;
  width: 149px;
  height: 43px;
  border: 0 solid #336699;
  background: rgba(0,0,0,0);
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 18px;
  border-radius: 22px;
  margin-top: 220px;
  margin-left: 80px;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  color: #ccc;
/*  border: 1px solid #336699;*/
}
button:focus {
  outline-width: 0;
}

.header {
  position: absolute;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #282828;
  font-size: 46px;
}

.info {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin-top: 80px;
}

#myGradient{
    background: linear-gradient(yellow,red);
}